# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.VE/
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Swift
.DS_Store
*.xcworkspace
*.xcodeproj
*.xcscheme
DerivedData/
*.ipa
*.app

# macOS Builds
*.dSYM/
build/
*.hmap
*.module
*.swiftmodule
*.swiftdoc

# Secrets
*.pem
*.crt
*.key
.env